.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; /* centraliza */
}

.searchBox {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* quebra linha quando não couber */
  gap: 10px;
  justify-content: center; /* centraliza as tags */
  margin-top: 10px;
}

.tag {
  background-color: #c64132;
  padding: 5px 10px;
  border-radius: 12px;
  display: flex;
  align-items: center;
}

.remove-tag {
  background: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
  opacity: 0.6;
}

.remove-tag:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}

input {
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  min-width: 70vw;
  border: none;
  outline: none;
  color: black;
}
