input{
    max-height: 40px;
    background-color: white;
    border-radius: 30px;
    border: 1px;
    min-width: 90%;
    padding-left: 10px;
    color: black;
    flex: 1;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 80vw;

    margin: 0 100px;
}